@keyframes blink {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes type {
	to {
		width: 100%;
	}
}

body {
	background-color: #272727;
}

span {
	color: #fff;
}

.fake-buttons {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	position: relative;
	top: 6px;
	left: 6px;
	background-color: #ec646d;
	display: inline-block;
}

.fake-minimize {
	left: 11px;
	background-color: #e4c874;
}

.fake-zoom {
	left: 16px;
	background-color: #62bb7d;
}

.fake-menu {
	width: 480px;
	box-sizing: border-box;
	height: 25px;
	background-color: #bbb;
	margin: auto;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.blank {
	visibility: hidden;
}

.fake-screen {
	background-color: #151515;
	box-sizing: border-box;
	width: 480px;
	margin: auto;
	padding: 50px 0 60px 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.browser-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.github-folder {
	text-align: center;
}

.folder {
	width: 70px;
}

.github-folder {
	color: #fff;
	font-size: 12pt;
	/* text-align: center; */
}

.app-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	color: white;
	font-family: monospace;
	font-size: 1.25em;
	position: relative;
	left: 50%;
	margin-left: -10em;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
}

.cursor1 {
	animation: blink 1s 1s 2 forwards;
}

.line1 {
	color: rgb(207, 169, 88);
	animation: type 0.5s 1s steps(20, end) forwards;
}

.cursor2 {
	animation: blink 1s 3s 2 forwards;
}

.line2 {
	color: #9cdcfe;
	animation: type 0.5s 3s steps(20, end) forwards;
}

.cursor3 {
	animation: blink 1s 5s 2 forwards;
}

.line3 {
	color: rgb(197, 120, 90);
	animation: type 0.5s 5s steps(20, end) forwards;
}

.line4 {
	animation: type 0.5s 7s steps(20, end) forwards;
	display: flex;
	color: white;
	font-family: monospace;
	font-size: 1.25em;
	position: relative;
	left: 50%;
	margin-left: -10em;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
}

.cursor4 {
	animation: blink 1s 7s infinite;
	display: flex;
}

.hidden-form {
	color: #151515;
}

input[type="text"] {
	color: #1ba31b;
	border: 1px solid #151515;
	background-color: #151515;
	display: flex;
	box-sizing: border-box;
	font-size: 1em;
	outline: none;
	font-family: monospace;
}

input[type="submit"] {
	background-color: #151515;
}
