body {
    background-color: #272727;
    color: black
}

p {
    color: white;
    font-family: monospace;
    font-size: 1.25em;
}

.line1 {
    color: rgb(207, 169, 88)
}

.line2 {
    color: #9CDCFE
}

.line3 {
    color:rgb(197, 120, 90)
}
