@keyframes blink {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@font-face {
	font-family: "Helvetica-neue";
	src: url('./HelveticaNeue-Roman.otf');
}

@keyframes type {
	to {
		width: 100%;
	}
}

body {
	background-color: #272727;
}

span {
	color: #fff;
}

.fake-buttons {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	position: relative;
	top: 6px;
	left: 6px;
	background-color: #ec646d;
	display: inline-block;
}

.fake-minimize {
	left: 11px;
	background-color: #e4c874;
}

.fake-zoom {
	left: 16px;
	background-color: #62bb7d;
}

.fake-menu {
	width: 480px;
	box-sizing: border-box;
	height: 25px;
	background-color: #bbb;
	margin: auto;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.blank {
	visibility: hidden;
}

.fake-screen {
	background-color: #151515;
	box-sizing: border-box;
	width: 480px;
	margin: auto;
	padding: 50px 0 60px 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.browser-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.github-folder {
	text-align: center;
}

.folder {
	width: 70px;
}

.github-folder {
	color: #fff;
	font-size: 12pt;
	/* text-align: center; */
}

.app-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	color: white;
	font-family: monospace;
	font-size: 1.25em;
	position: relative;
	left: 50%;
	margin-left: -10em;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
}

.cursor1 {
	animation: blink 1s 1s 2 forwards;
}

.line1 {
	color: rgb(207, 169, 88);
	animation: type 0.5s 1s steps(20, end) forwards;
}

.cursor2 {
	animation: blink 1s 3s 2 forwards;
}

.line2 {
	color: #9cdcfe;
	animation: type 0.5s 3s steps(20, end) forwards;
}

.cursor3 {
	animation: blink 1s 5s 2 forwards;
}

.line3 {
	color: rgb(197, 120, 90);
	animation: type 0.5s 5s steps(20, end) forwards;
}

.line4 {
	animation: type 0.5s 7s steps(20, end) forwards;
	display: flex;
	color: white;
	font-family: monospace;
	font-size: 1.25em;
	position: relative;
	left: 50%;
	margin-left: -10em;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	width: 0;
}

.cursor4 {
	animation: blink 1s 7s infinite;
	display: flex;
}

.hidden-form {
	color: #151515;
}

input[type="text"] {
	color: #1ba31b;
	border: 1px solid #151515;
	background-color: #151515;
	display: flex;
	box-sizing: border-box;
	font-size: 1em;
	outline: none;
	font-family: monospace;
}

input[type="submit"] {
	background-color: #151515;
}

.bar {
	width: calc(100vw - 16vw);
	height: 70px;
	opacity: .7;
	background-color: rgb(94, 94, 94);
	position: fixed;
    bottom: 0;
	left: 0;
	margin: 0 8vw;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	display: flex;
	align-items: center;
}

.github-program {
	width: 60px;
	margin: 25px;
}

.github-program:hover {
	width: 70px;
	margin: 25px;
}

.found-poetry-pic {
	display: block;
	width: 205px;
	border-radius: 10px;
	margin-left: 50px;
	margin-top: 10px;
}

.project-screen {
	background-color: #d0d9dd;
	/* background-color: #00aced; */
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.project-browser {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

.inner-twitter {
	background-color: #F7F8FA;
	width: 300px;
	padding: 15px;
	line-height: 80%;
}

.twitter-line {
	color: black;
	font-size: 8pt;
	font-family: "Helvetica-neue";
	font-weight: normal;
	padding-left: 50px;
}

.twitter-footer {
	width: 250px;
	padding-left: 25px;
	padding-bottom: 5px
}

.twitter{
	color: black;
	font-size: 8pt;
	font-family: "Helvetica-neue";
	font-weight: normal;
	padding-left: 50px;
}

.twitter-bold {
	font-weight: bold;
	font-size: 8pt;
	color: black;
	padding-left: 50px;
}

.dot {
	width: 28px;
	margin-left: 10px;
	margin-top: 5px;
	position: absolute;
}
